{{define "kofi_widget"}}

<style>
@media (max-width: 768px) {
  .floatingchat-container-wrap-mobi {
    transform: scale(0.7);
    transform-origin: bottom right;
  }
}
</style>
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('gigaforge', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Tip Me',
    'floating-chat.donateButton.background-color': '#fcbf47',
    'floating-chat.donateButton.text-color': '#323842'
  });
</script>
{{end}}
